<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>

      <!-- Navigation -->
      <% include ./partials/navbar.ejs %>

      <!-- Page Content -->
      <main class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
          <h1 class="display-3">About Us</h1>
          <p class="lead">Bloccit is the single greatist information sharing application on the intertubes.</p>
          <a href="#" class="btn btn-primary btn-lg">Sign up</a>
        </header>

          <% include ./partials/about.ejs %>

        </section>
        <!-- /.row -->

      </main>
      <!-- /.container -->
      <% include ./partials/baseScripts.ejs %>
    </body>
</html>